<section>
    <header>
        <h2></h2>
    </header>
    <article class="row">
        <div class="large-12 small-12 columns">
            <ul class="pricing-table">
                <li class="bullet-item"><a href="#/list">List</a>
                </li>
                <li class="bullet-item"><a href="#/markerMap">Geo Marker Map</a>
                </li>
                <li class="bullet-item"><a href="#/bubbleChart">Bubble Chart</a>
                </li>                
            </ul>
        </div>
    </article>
</section>
