<header>
    <nav class="tab-bar">
        <!-- Application Title -->
        <section class="middle tab-bar-section">
            <h1 class="title">Seismi Web Client</h1>
        </section>

        <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="">
                <span></span>
            </a>
        </section>
    </nav>

    <!-- Aside Menu Items -->
    <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
            <li><a id="home" href="#/">Dashboard</a>
            </li>
            <li><a href="#/list">List</a>
            </li>
            <li><a href="#/markerMap">Geo Marker Map</a>
            </li>
            <li><a href="#/bubbleChart">Bubble Chart</a>
            </li>
        </ul>
    </aside>
</header>
